@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

*, p ,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body{
  background-color: #F9FAFE;
}

header{
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;

  h1{
    font-size: 2rem;
    font-weight: 700;
  }
  button{
    background-color: #202c56;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 1rem 1.5rem;
  }
}

main {
  height: 100vh;
  padding-top: 1rem;

  .row{
    height: 100%;
  }
  .col-lg-3{
    padding: 0;
  }
}