.from-permission{
  box-shadow: 5px 7px 8px 0px #d6d6d6;
  margin-bottom: 2rem;
  // padding-right: 0;
  h4{
    background-color: #425AC1;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
  }
  .form-action-permission{
    background-color: #fff;
    padding: 1rem;
    .form-permissions-container{
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
      border: 1px solid #425AC1;
      border-radius: 5px;
      background-color: #f9fafe;

      label{
        font-weight: bold;
      }
      input{
        padding: 0.5rem;
      }

      button{
        margin-top: 1rem;
        background-color: #425AC1;
        // background-color: #202c56;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: .5rem;
        width: 50%;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
      }button:hover{
        // background-color: #425AC1;
        background-color: #202c56;
      }
    }
  }
}