@import "node_modules/bootstrap/scss/bootstrap";
*, p ,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body{
  background-color: #F9FAFE;
}

header{
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;

  h1{
    font-size: 2rem;
    font-weight: 700;
  }
  button{
    background-color: #202c56;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 1rem 1.5rem;
  }
}

main {
  height: 100vh;
  padding-top: 1rem;

  .row{
    height: 100%;
  }
  .col-lg-3{
    padding: 0;
  }
}

nav{
  background-color: #202c56;
  border-radius: 30px 30px 0 0;
  height: 100%;
  max-width: 350px;

  .logo{
    text-align: center;
    padding: 0 1rem;
    
    img{
      max-width: 200px;
      width: 100%;
    }
  }
  .apps {
    color: #fefefe;
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    i:after{
      content: inherit;
    }
    ul li:hover{
      background-color: inherit;
    }
  }

  a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    color: #fff;
  }

  .ulList-closed{
    padding: 0;
    transition: all ease .5s;
    li{
      padding-left: 0;
      justify-content: center;
      a i{
        margin-right: 0;
      }
      a span{
        opacity: 0%;
        display: none;
      }
    }
  }

  ul li{
    list-style: none;
    padding: .5rem 0;
    padding-left: 1rem;
    border-radius: 50px 0 0 50px;
    display:flex;
    align-items: center;

    i{
      margin-right: 1rem;
    }
  }
  ul li:hover{
    background-color: #425AC1;
  }
}


main div .users-container-main{
  .search-container{
    label{
      color: grey;
    }
    .inputSearch{
      border: 1px solid grey;
      border-radius: 0 20px 20px 0;
      p{
        padding: 1rem .5rem;
        background-color: #5AE1F8;
        color: #fff;
        font-weight: 700;
      }
      input{
        width: 100%;
        padding: 1rem;
        border: none;
      }
      button{
        border: none;
        border-left: 1px solid grey;
        padding: 1rem;
        border-radius: 0 20px 20px 0;
        background-color: #fff;
      }
    }
    .alphabet-pager{
      overflow-x: auto;
      padding: .7rem 0;
      .btn-search{
        margin: .3rem .3rem;
        border: none;
        background-color: #5AE1F8;
        color: #fff;
        border-radius: 5px;
        font-weight: 700;
      }
      .active-search{
        background-color: #425AC1;
      }
    }
  }
  .table-users{
    height: 60vh;
    overflow-y: auto;

    .table{
      .table-head{
        p{
          width: 100%;
          text-align: center;
          font-weight: 700;
          margin: .5rem 0;
        }
        p:last-child{
          width: 20rem;
        }

      }
      .table-body{
        border-radius: 30px;
        p{
          width: 100%;
          // text-align: center;
          margin: .5rem 0;
          background-color: #fff;
          border-right: 1px solid #dedede;
          word-break: break-all;
          display: flex;
          align-items: center;
        }
        p:first-child{
          border-radius: 15px 0 0 15px;
        }
        p:last-child{
          border-radius: 0 15px 15px 0;
          border-right: 1.1rem solid #D8D8D8;
          width: 16rem;
        }
        button{
          border: none;
          background-color: rgb(189, 0, 0);
          color: #fff;
          border-radius: 10px;
          padding: .2rem .75rem;
        }
        button:hover{
          background-color: rgb(148, 0, 0);
        }
      }
    }


  }

  .details-user{
    .header-details{
      h4{
        display: flex;
        align-items: center;
      }
      button{
        background-color: #202c56;
        color: #fff;
        border: none;
        padding: .8rem 1rem;
        border-radius: 1rem;
      }
    }
    .title-column{
      background-color: #425AC1;
      color: #fff;
      padding: 1rem;
      border-radius: 1rem;

      h5{
        margin: 0;
      }
    }
    .content{
      // border: 1px solid grey;
      border-radius: 1rem;
      box-shadow: 5px 7px 8px 0px #d6d6d6;
      padding: .5rem;
      ul{
        list-style: none;
        padding: 0;
        li{
          margin: .5rem 0;
          font-weight: 600;
          span{
            color: #425AC1;
            font-weight: 400;
          }
        }
      }
    }
    .role{
      li{
        border-bottom: 1px solid rgb(197, 197, 197);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        span i{
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }
}



//menu
.sidebarMenu{
  .btnDropDown{
    width: min-content;
    display: flex;
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .btnDropDown-open{
    transition: all ease .5s;
    transform: rotate(180deg);
  }
  .btnDropDown-closed{
    transition: all ease .5s;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: '991px') {
  main{
    .row{
      height: 0;
    }
  }
  header{
    display: block;
    padding: 1rem 0 !important;
    h1{
      font-size: 1.5rem;
    }
    button{
      padding: 1rem 1.5rem;
    }
  }

  .users-container-main{
    padding: 1rem 0 !important;

    .table-users{
      table{
        tr td{
          font-size: .8rem;
        }
      }
    }
  }
  nav{
    max-width: inherit;
    height: inherit;
  }

}




// loader
lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #202c56;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




