<div id="sidebarMenu" class="col-3">
  <nav>
    <div class="logo">
      <a href="/">
        <img src="https://aeronexllc.com/images/logo@2x.png" alt="logo">
      </a>
    </div>

    <ul>
      <a href="./users.html">
        <li>
          <i>
            <img src="./img/adduser.png" alt="" width="30">
          </i>
          ADD PERSON
        </li>
      </a>
  
      <a href="./messages.html">
        <li>
          <i>
            <img src="./img/message.png" alt="" width="30">
          </i>
          MESSAGES
        </li>
      </a>
    </ul>
  </nav>
</div>