<div id="sidebarMenu" class="sidebarMenu col-12 col-lg-3">
  <nav class="d-flex flex-column">
    <div id="btnDropDown" class="btnDropDown">
      <i class="fa-solid fa-arrow-right-long"></i>
    </div>
    <div class="header-nav d-flex justify-content-center align-items-center">
      <div class="apps dropdown">
        <i class="fa-solid fa-grip dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="logo">
        <a href="/">
          <img src="https://aeronexllc.com/images/logo@2x.png" alt="logo">
        </a>
      </div>
    </div>

    <ul id="ulList">
      <li>
        <div id="itemMenu" class="item">
          <i><img data-userMenu="itemMenu" src="./img/adduser.png" alt="" width="30"></i>
          <span>
            <p data-userMenu="itemMenu">ADMIN USERS</p>
            <div class="subItems">
              <ul>
                <li id="subItemUser">
                  <a href="./users.html">Users</a>
                </li>
                <li id="subItemRoles">
                  <a href="./roles.html">Roles</a>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </li>
  
      <li>
        <div class="item">
          <i><img src="./img/message.png" alt="" width="30"></i>
          <span>
            <p>Itinerary</p>
            <div class="subItems">
              <ul>
                <li class="">
                  <a href="#">Item</a>
                </li>
                <li>
                  <a href="#">Item</a>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </li>
    </ul>
  </nav>
</div>